
*{
    text-align: center;
}

/*backgraound */

h1.color {
    background-color: blue;
    color: white;
}

.a {
    background-color: blue ;
    color: white;
    opacity: 0.6;  /* shafoflik */
}
.b {
    background-color: blue ;
    color: white;
    opacity: 0.2;  /* shafoflik */
}

/*backgraound img*/
.c {
    background-image: url("background.jpg");
    height: 100px;
    color: black;
    font-size: x-large;
}
body {
    background-image: url("body.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
}
#a {
    height: auto;
    background-color: aquamarine;
    font-size: x-large;
}
