{% extends 'base.html' %}

{% block title %}Postlar{% endblock title %}

{% block content %}
    <h1>Hello wolrd</h1>
    {% for article in object_list %}
        <div class="card" style="width: 50rem;">

            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
            {%  endif %}

            <div class="card-footer text-left text-muted">
                <span class="text-muted">muallif {{ article.author | title }} &middot; {{ article.date }}</span>
            </div>
        <br />
    {% endfor %}
    </div>
{% endblock content %}